@import "../../var";
@import "../../mixins";

.type-img {
    &.groceries {
        &:after {
            .pseudo();
            .size(30px, 31px);
            .sprite(0, 40);
            position: absolute;
            left: 13px;
            top: 15px;
        }
    }
    &.none {
        &:after {
            .pseudo();
            .size(40px, 24px);
            .sprite(40, 40);
            position: absolute;
            left: 11px;
            top: 18px;
        }
    }
    &.savings {
        &:after {
            .pseudo();
            .size(37px, 31px);
            .sprite(240, 40);
            opacity: .8;
            position: absolute;
            left: 15px;
            top: 13px;
        }
    }
    &.transport {
        &:after {
            .pseudo();
            .size(41px, 25px);
            .sprite(140, 40);
            opacity: .8;
            position: absolute;
            left: 11px;
            top: 17px;
        }
    }
    &.clothes {
        &:after {
            .pseudo();
            .size(35px, 25px);
            .sprite(200, 40);
            opacity: .8;
            position: absolute;
            left: 14px;
            top: 17px;
        }
    }
    &.cafes {
        &:after {
            .pseudo();
            .size(29px, 35px);
            .sprite(280, 40);
            opacity: .8;
            position: absolute;
            left: 14px;
            top: 10px;
        }
    }
    &.health {
        &:after {
            .pseudo();
            .size(29px, 35px);
            .sprite(280, 40);
            opacity: .8;
            position: absolute;
            left: 14px;
            top: 10px;
        }
    }
}