@import "../var";

.home {
    .title-wrap {
        hr {
            margin-bottom: 0;
        }
    }
    .tabs {
        display: inline-block;
        vertical-align: middle;

        a {
            position: relative;
            margin-right: 10px;
            outline: none;
            text-transform: uppercase;
            color: @blue;
            text-decoration: none;

            &.month {
                position: absolute;
                right: 5px;
                color: #bababa;

                &:after {
                    border-color: #bababa;
                }
            }

            &:after {
                .pseudo();
                .transition(all,.2s);
                .transform(translate(0,0px));
                opacity: 1;
                width: 100%;
                border-bottom: 1px dotted @blue;
                left: 0;
                bottom: 0;
            }

            &.income {
                margin-right: 0;
            }

            &.active {
                cursor: default;
            }

            &.active,
            &:hover {
                color: lighten(@blue, 7%);
                &:after {
                    .pseudo();
                    .transform(translate(0,-4px));
                    opacity: 0;
                }
            }
        }
    }
    .entries-wrap {
        &.loading {
            position: relative;

            &:after {
                .pseudo();
                .size(32px, 26px);
                .sprite(0, 0);
                .animation(loader, ease, .8s);
                left: 50%;
                margin-left: -16px;
                top: 30px;
            }
        }

        hr {
            margin: 0;
        }

        .entry {
            .sizing();
            .transition();
            padding: 26px 16px;
            position: relative;


            &.expense {
                color: @red;

                .type-img {
                    background-color: #ffebee;
                }
            }
            &.savings {
                color: @green;

                .type-img {
                    background-color: #C8E6C9;
                }
            }
            &.income {
                color: @green;

                .type-img {
                    background-color: #C8E6C9;
                }
            }

            &:hover {
                background-color: #fcfcfc;
                .remove {
                    .transform(scale(1) translate(0px,0));
                    opacity: 1;
                    visibility: visible;
                }
            }

            .remove {
                .size(23px);
                .sprite(40, 0);
                .transition(all,.2s);
                .transform(scale(.9) translate(5px,0));
                .transform-origin(center, right);
                opacity: 0;
                visibility: hidden;
                display: block;
                position: absolute;
                right: 10px;
                top: 50%;
                margin-top: -11px;
            }

            .type-img {
                .size(60px);
                margin-right: 20px;
                border-radius: 50%;
                display: inline-block;
                vertical-align: middle;
            }

            .value {
                font-size: 18px;
                display: inline-block;
                line-height: 1;
                vertical-align: middle;

                .time {
                    color: #B0BEC5;
                    font-size: 11px;
                }
            }
        }
    }

    .highlights {
        margin-bottom: 30px;
    }

    .current-month {
        float: right;
        top: 7px;
    }

    .time-picker-wrap {
        .sizing();
        .box-shadow();
        .transition(all,.2s);
        .transform-origin(right, top);
        .transform(scale(.8) translate(5px,-5px));
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        background-color: #fff;
        padding: 32px 20px;
        width: 355px;
        position: absolute;
        right: 0;
        top: 0;

        &.active {
            .transform(scale(1) translate(0,30px));
            opacity: 1;
            visibility: visible;

            .months {
                > .month {
                    .transform(translate(0, 0));
                    opacity: 1;
                }
            }

            .close {
                opacity: 1;
            }
        }

        .close {
            .transition(all,.4s);
            .transform(translate(-0px,0px) scale(1));
            right: 0;
            top: 0;
            opacity: 0;

            &:after,
            &:before {
                .rotate(45deg);
            }

            &:after {
                .rotate(-45deg);
            }
        }

        .months {
            position: relative;
            width: 100%;

            > a {
                .sizing();
                text-align: center;
                padding: 8px 0;
                float: left;
                width: 105px;
                opacity: 0;
                display: block;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    .transition(all,.4s);
                    .transform(translate(0, -5px));
                }
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    .transition(all,.5s);
                    .transform(translate(0, -10px));
                }
                &:nth-child(7),
                &:nth-child(8),
                &:nth-child(9) {
                    .transition(all,.6s);
                    .transform(translate(0, -15px));
                }
                &:nth-child(10),
                &:nth-child(11),
                &:nth-child(12) {
                    .transition(all,.7s);
                    .transform(translate(0, -20px));
                }

                &.current {
                    color: @lightGreen !important;
                    font-weight: 700;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .graph-wrap {
        position: relative;
        padding: 0 50px;
        width: 1200px;
        margin: 0 auto;
        height: 320px;

        .graph-tooltip {
            .size(80px, auto);
            .transition();
            .transform(scale(0.9) translate(0,10px));
            opacity: 0;
            visibility: hidden;
            .transform-origin(center, bottom);
            border-radius: 5px;
            position: fixed;
            top: 100px;
            left: 50%;
            padding: 5px 0;
            z-index: 30000;
            font: 12px/1 @font-family-base;

            &.vis {
                .transform(scale(1) translate(0,0));
                opacity: 1;
                visibility: visible;
            }

            .triangle {
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 4px 0 4px;
                left: 50%;
                margin-left: -4px;
                top: 100%;
            }

            .date {
                margin-bottom: 13px;
                width: 100%;
                text-align: center;
                color: #eee;
                position: relative;

                &:after {
                    .pseudo();
                    width: 16px;
                    left: 50%;
                    margin-left: -8px;
                    height: 1px;
                    top: 100%;
                    margin-top: 8px;
                    background-color: #fff;
                }
            }

            .value {
                width: 100%;
                text-align: center;
                color: #fff;

            }
        }

        .min {
            position: absolute;
            left: 40px;
            bottom: 0;
        }

        .r-max {
            position: absolute;
            right: 40px;
            bottom: 0;
        }

        .t-max {
            position: absolute;
            top: 0;
            left: 40px;
        }

        svg {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
    }
}
