@import "../var";
@import "../mixins";

.form-wrap {
    position: relative;
    width: 600px;
    margin: 0 auto;
    padding-top: 30px;

    .logo-wrap {
        width: 100%;
        position: absolute;
        bottom: 100%;
        margin-bottom: 10px;
        left: 0;
        text-align: center;
    }

    .logo-white {
        backface-visibility: hidden;
        transition: all .2s ease;
        display: inline-block;
        position: relative;
        font: 900 50px/1 'Baron Neue';
        color: #fff;
        width: 50px;
        height: 50px;

        .short {
            transition: all .2s ease;
            left: 0;
            top: 0;
            position: absolute;
        }
        .long {
            transition: all .2s ease;
            transform: translate(0, 0);
            opacity: 0;
            font-size: 40px;
            left: 45px;
            top: 10px;
            position: absolute;
        }

        &:after {
            .pseudo();
            .size(8px);
            transition: all .2s ease;
            position: absolute;
            left: 47px;
            bottom: 11px;
            border-radius: 50%;
            background-color: #fff;
        }

        &:hover {
            &:after {
                opacity: 0;
                visibility: hidden;
                transform: translate(0, -5px);
            }
            
            .short {
                transform: translate(-30px, 0);
            }
            
            .long {
                opacity: 1;
                transform: translate(-30px, 0);
            }
        }
    }

    h1 {
        margin-bottom: 40px;
        font: 300 36px/1 @font-family-base;
    }

    &.login {
        form {
            padding-bottom: 260px;
            .animation(hideRegisterForm, cubic-bezier(.35,.91,.62,.91), .5s, 1, forwards, .1s);
        }
        .reg-block {
            .form-group {
                &.balance {
                    .animation(hideRegisterBlocks, cubic-bezier(.35,.91,.62,.91), .3s, 1, forwards, 0);
                }
                &.savings {
                    .animation(hideRegisterBlocks, cubic-bezier(.35,.91,.62,.91), .4s, 1, forwards, .1s);
                }
                &.lang {
                    .animation(hideRegisterBlocks, cubic-bezier(.35,.91,.62,.91), .4s, 1, forwards, .1s);
                }
                &.currency {
                    .animation(hideRegisterBlocks, cubic-bezier(.35,.91,.62,.91), .4s, 1, forwards, .1s);
                }
            }
        }
    }

    &.register {
        form {
            .animation(showRegisterForm, cubic-bezier(.36,1,.66,1), .5s, 1, forwards, 0);
            padding-bottom: 60px;
        }
        .reg-block {
            .form-group {
                opacity: 0;
                visibility: hidden;

                &.balance {
                    transform: translate(0, -10px);
                    .animation(showRegisterBlocks, cubic-bezier(.35,.91,.62,.91), .3s, 1, forwards, .2s);
                }

                &.lang {
                    transform: translate(0, -10px);
                    .animation(showRegisterBlocks, cubic-bezier(.35,.91,.62,.91), .3s, 1, forwards, .2s);
                }

                &.currency {
                    transform: translate(0, -10px);
                    .animation(showRegisterBlocks, cubic-bezier(.35,.91,.62,.91), .3s, 1, forwards, .2s);
                }

                &.savings {
                    transform: translate(0, -30px);
                    .animation(showRegisterBlocks, cubic-bezier(.35,.91,.62,.91), .4s, 1, forwards, .3s);
                }
            }
        }
    }
}

.login-form {
    .transition(all,.3s);
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.3);
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    width: 100%;
    padding: 50px 100px;
    margin: 0 auto;

    form {
        .transition(padding-bottom, .1s);
        padding-bottom: 60px;
        position: relative;
    }

    .reg-block {
        transform-origin: center bottom;
        z-index: 1;
        position: absolute;
        left: 100px;
        width: 100%;
        bottom: 52px;
        left: 0;
    }

    input {
        border: none;
    }

    .form-group {
        margin-bottom: 0;
        padding-bottom: 35px;
        color: #444;
        position: relative;
        z-index: 2;
        background-color: #fff;

        &.lang {
            label {
                color: @blue;
                cursor: pointer;
                width: 150px;
                display: inline-block;
                vertical-align: top;
            }

            input {
                display: none;
                width: auto;

                ~ span {
                    position: relative;
                }

                + span.underlined {
                    border-bottom: 1px solid @blue;
                }
                
                &:checked {
                    + span.underlined {
                        font-weight: 400;
                        border-color: transparent;
                    }
                }

                &:focus {
                    border-color: @blue;
                    box-shadow: none;

                    + span {
                        transform: translate(0,0);
                        color: #000;
                        font-size: 16px;
                    }
                }
            }
        }

        label {
            width: 100%;
        }

        input {
            .transition(border-color,.2s);
            font: 300 16px/1 @font-family-base;
            box-shadow: none;
            border-radius: 0;
            border-bottom: 1px solid #CFD8DC;
            width: 100%;

            ~ span {
                .transition(all,.2s);
                width: 100px;
                text-align: left;
                left: 10px;
                position: absolute;
                top: 9px;
                font: 300 16px/1 @font-family-base;
            }

            &.filled,
            &:focus {
                border-color: @blue;
                box-shadow: none;

                + span {
                    transform: translate(0, 33px);
                    color: @blue;
                    font-size: 14px;
                }
            }
            
            &.error {
                border-color: @red;

                ~ span {
                    color: @red;
                }
            }
        }

        &.btns {
            position: absolute;
            width: 100%;
            bottom: -30px;
            text-align: right;

            a {
                margin-left: 20px;
            }
        }
    }
}