doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    footer(class=logged ? 'logged' : 'not-logged')
      .container
        .copy
          .text
            span Wallt, 2015. Made by&nbsp;
            a(target="_blank" href="https://github.com/creedencewright/")
              span me
            span .
          .github
      script(src="/javascripts/bundle.js")