@import "var";

header {
    z-index: 20;
    position: relative;
    width: 100%;
    top: 0;
    padding: 10px 0;
    margin-bottom: 30px;

    .name {
        position: absolute;
        right: 50px;
        bottom: 100%;
        margin-bottom: 5px;
        font: 700 16px/1 @font-family-base;
        color: #777;

    }

    .money-now {
        padding-left: 30px;
        display: inline-block;
        color: @green;
        font: 300 48px/33px @font-family-base;
    }
}