.size(@width, @height: @width) {
    width:  @width;
    height: @height;
}

//.sprite (@x: 0, @y: 0) {
//    background: url('../images/sprite.png') (0px + (-1 * @x)) (0px + (-1 * @y)) no-repeat;
//}

.animation(@name, @function: linear, @time: 1s, @iteration: infinite, @mode: forwards, @delay: 0s) {
    animation: @name @function @time;
    animation-iteration-count: @iteration;
    animation-fill-mode: @mode;
    animation-delay: @delay;
}

.hover-opacity(@opacity: 0.75) {
    cursor: pointer;

    &:hover {
        .opacity(@opacity);
    }
}

.transition(@property: all, @time: 0.3s, @ease: ease, @delay: 0s) {
    transition: @property @time @ease @delay;
}

.rotate(@degree) {
    -webkit-transform: rotate(@degree);
    -moz-transform: rotate(@degree);
    -ms-transform: rotate(@degree);
    -o-transform: rotate(@degree);
    transform: rotate(@degree);
}

.font-face-params(@title, @file-name, @font-weight: normal, @font-style: normal) {
    font-family: @title;
    src: url('fonts/@{file-name}.eot');
    src: local("?"),
    url('fonts/@{file-name}.eot?#iefix') format('embedded-opentype'),
    url('fonts/@{file-name}.woff') format('woff'),
    url('fonts/@{file-name}.ttf') format('truetype'),
    url('fonts/@{file-name}.svg#@{file-name}') format('svg');
    font-weight: @font-weight;
    font-style: @font-style;
}

.remove-space {
    font-size: 0;
    letter-spacing: -4px;
}

.pseudo {
    content: '';
    position: absolute;
}

.box-shadow-inset (@horizontalLength: 0px, @verticalLength: 0px, @blurRadius: 5px, @spreadRadius: 0px, @color: #e3e3e3, @position: inset) {
    -webkit-box-shadow: @position @horizontalLength @verticalLength @blurRadius @spreadRadius @color;
    -moz-box-shadow: @position @horizontalLength @verticalLength @blurRadius @spreadRadius @color;
    box-shadow: @position @horizontalLength @verticalLength @blurRadius @spreadRadius @color;
}

.grad-vertical(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
    background-image: -webkit-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);  // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);  // Opera 12
    background-image: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
}