/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@entry-cafes-name: entry-cafes;
@entry-cafes-x: 109px;
@entry-cafes-y: 36px;
@entry-cafes-offset-x: -109px;
@entry-cafes-offset-y: -36px;
@entry-cafes-width: 29px;
@entry-cafes-height: 35px;
@entry-cafes-total-width: 172px;
@entry-cafes-total-height: 157px;
@entry-cafes-image: './../images/sprite.png';
@entry-cafes: 109px 36px -109px -36px 29px 35px 172px 157px './../images/sprite.png' entry-cafes;
@entry-cell-name: entry-cell;
@entry-cell-x: 141px;
@entry-cell-y: 64px;
@entry-cell-offset-x: -141px;
@entry-cell-offset-y: -64px;
@entry-cell-width: 22px;
@entry-cell-height: 40px;
@entry-cell-total-width: 172px;
@entry-cell-total-height: 157px;
@entry-cell-image: './../images/sprite.png';
@entry-cell: 141px 64px -141px -64px 22px 40px 172px 157px './../images/sprite.png' entry-cell;
@entry-clothes-name: entry-clothes;
@entry-clothes-x: 74px;
@entry-clothes-y: 92px;
@entry-clothes-offset-x: -74px;
@entry-clothes-offset-y: -92px;
@entry-clothes-width: 35px;
@entry-clothes-height: 25px;
@entry-clothes-total-width: 172px;
@entry-clothes-total-height: 157px;
@entry-clothes-image: './../images/sprite.png';
@entry-clothes: 74px 92px -74px -92px 35px 25px 172px 157px './../images/sprite.png' entry-clothes;
@entry-default-name: entry-default;
@entry-default-x: 36px;
@entry-default-y: 60px;
@entry-default-offset-x: -36px;
@entry-default-offset-y: -60px;
@entry-default-width: 40px;
@entry-default-height: 24px;
@entry-default-total-width: 172px;
@entry-default-total-height: 157px;
@entry-default-image: './../images/sprite.png';
@entry-default: 36px 60px -36px -60px 40px 24px 172px 157px './../images/sprite.png' entry-default;
@entry-entertainment-name: entry-entertainment;
@entry-entertainment-x: 75px;
@entry-entertainment-y: 0px;
@entry-entertainment-offset-x: -75px;
@entry-entertainment-offset-y: 0px;
@entry-entertainment-width: 32px;
@entry-entertainment-height: 32px;
@entry-entertainment-total-width: 172px;
@entry-entertainment-total-height: 157px;
@entry-entertainment-image: './../images/sprite.png';
@entry-entertainment: 75px 0px -75px 0px 32px 32px 172px 157px './../images/sprite.png' entry-entertainment;
@entry-gadgets-name: entry-gadgets;
@entry-gadgets-x: 0px;
@entry-gadgets-y: 92px;
@entry-gadgets-offset-x: 0px;
@entry-gadgets-offset-y: -92px;
@entry-gadgets-width: 34px;
@entry-gadgets-height: 28px;
@entry-gadgets-total-width: 172px;
@entry-gadgets-total-height: 157px;
@entry-gadgets-image: './../images/sprite.png';
@entry-gadgets: 0px 92px 0px -92px 34px 28px 172px 157px './../images/sprite.png' entry-gadgets;
@entry-gifts-name: entry-gifts;
@entry-gifts-x: 0px;
@entry-gifts-y: 60px;
@entry-gifts-offset-x: 0px;
@entry-gifts-offset-y: -60px;
@entry-gifts-width: 34px;
@entry-gifts-height: 30px;
@entry-gifts-total-width: 172px;
@entry-gifts-total-height: 157px;
@entry-gifts-image: './../images/sprite.png';
@entry-gifts: 0px 60px 0px -60px 34px 30px 172px 157px './../images/sprite.png' entry-gifts;
@entry-groceries-name: entry-groceries;
@entry-groceries-x: 141px;
@entry-groceries-y: 0px;
@entry-groceries-offset-x: -141px;
@entry-groceries-offset-y: 0px;
@entry-groceries-width: 31px;
@entry-groceries-height: 30px;
@entry-groceries-total-width: 172px;
@entry-groceries-total-height: 157px;
@entry-groceries-image: './../images/sprite.png';
@entry-groceries: 141px 0px -141px 0px 31px 30px 172px 157px './../images/sprite.png' entry-groceries;
@entry-health-name: entry-health;
@entry-health-x: 39px;
@entry-health-y: 0px;
@entry-health-offset-x: -39px;
@entry-health-offset-y: 0px;
@entry-health-width: 34px;
@entry-health-height: 31px;
@entry-health-total-width: 172px;
@entry-health-total-height: 157px;
@entry-health-image: './../images/sprite.png';
@entry-health: 39px 0px -39px 0px 34px 31px 172px 157px './../images/sprite.png' entry-health;
@entry-hobby-name: entry-hobby;
@entry-hobby-x: 36px;
@entry-hobby-y: 92px;
@entry-hobby-offset-x: -36px;
@entry-hobby-offset-y: -92px;
@entry-hobby-width: 36px;
@entry-hobby-height: 25px;
@entry-hobby-total-width: 172px;
@entry-hobby-total-height: 157px;
@entry-hobby-image: './../images/sprite.png';
@entry-hobby: 36px 92px -36px -92px 36px 25px 172px 157px './../images/sprite.png' entry-hobby;
@entry-house-name: entry-house;
@entry-house-x: 109px;
@entry-house-y: 0px;
@entry-house-offset-x: -109px;
@entry-house-offset-y: 0px;
@entry-house-width: 30px;
@entry-house-height: 34px;
@entry-house-total-width: 172px;
@entry-house-total-height: 157px;
@entry-house-image: './../images/sprite.png';
@entry-house: 109px 0px -109px 0px 30px 34px 172px 157px './../images/sprite.png' entry-house;
@entry-personal-name: entry-personal;
@entry-personal-x: 0px;
@entry-personal-y: 122px;
@entry-personal-offset-x: 0px;
@entry-personal-offset-y: -122px;
@entry-personal-width: 24px;
@entry-personal-height: 35px;
@entry-personal-total-width: 172px;
@entry-personal-total-height: 157px;
@entry-personal-image: './../images/sprite.png';
@entry-personal: 0px 122px 0px -122px 24px 35px 172px 157px './../images/sprite.png' entry-personal;
@entry-savings-name: entry-savings;
@entry-savings-x: 0px;
@entry-savings-y: 0px;
@entry-savings-offset-x: 0px;
@entry-savings-offset-y: 0px;
@entry-savings-width: 37px;
@entry-savings-height: 31px;
@entry-savings-total-width: 172px;
@entry-savings-total-height: 157px;
@entry-savings-image: './../images/sprite.png';
@entry-savings: 0px 0px 0px 0px 37px 31px 172px 157px './../images/sprite.png' entry-savings;
@entry-transport-name: entry-transport;
@entry-transport-x: 0px;
@entry-transport-y: 33px;
@entry-transport-offset-x: 0px;
@entry-transport-offset-y: -33px;
@entry-transport-width: 41px;
@entry-transport-height: 25px;
@entry-transport-total-width: 172px;
@entry-transport-total-height: 157px;
@entry-transport-image: './../images/sprite.png';
@entry-transport: 0px 33px 0px -33px 41px 25px 172px 157px './../images/sprite.png' entry-transport;
@entry-travel-name: entry-travel;
@entry-travel-x: 141px;
@entry-travel-y: 32px;
@entry-travel-offset-x: -141px;
@entry-travel-offset-y: -32px;
@entry-travel-width: 30px;
@entry-travel-height: 30px;
@entry-travel-total-width: 172px;
@entry-travel-total-height: 157px;
@entry-travel-image: './../images/sprite.png';
@entry-travel: 141px 32px -141px -32px 30px 30px 172px 157px './../images/sprite.png' entry-travel;
@refresh-name: refresh;
@refresh-x: 26px;
@refresh-y: 122px;
@refresh-offset-x: -26px;
@refresh-offset-y: -122px;
@refresh-width: 32px;
@refresh-height: 26px;
@refresh-total-width: 172px;
@refresh-total-height: 157px;
@refresh-image: './../images/sprite.png';
@refresh: 26px 122px -26px -122px 32px 26px 172px 157px './../images/sprite.png' refresh;
@remove-entry-name: remove-entry;
@remove-entry-x: 75px;
@remove-entry-y: 34px;
@remove-entry-offset-x: -75px;
@remove-entry-offset-y: -34px;
@remove-entry-width: 23px;
@remove-entry-height: 23px;
@remove-entry-total-width: 172px;
@remove-entry-total-height: 157px;
@remove-entry-image: './../images/sprite.png';
@remove-entry: 75px 34px -75px -34px 23px 23px 172px 157px './../images/sprite.png' remove-entry;
@switch-name: switch;
@switch-x: 43px;
@switch-y: 33px;
@switch-offset-x: -43px;
@switch-offset-y: -33px;
@switch-width: 20px;
@switch-height: 20px;
@switch-total-width: 172px;
@switch-total-height: 157px;
@switch-image: './../images/sprite.png';
@switch: 43px 33px -43px -33px 20px 20px 172px 157px './../images/sprite.png' switch;
@spritesheet-width: 172px;
@spritesheet-height: 157px;
@spritesheet-image: './../images/sprite.png';
@spritesheet-sprites: @entry-cafes @entry-cell @entry-clothes @entry-default @entry-entertainment @entry-gadgets @entry-gifts @entry-groceries @entry-health @entry-hobby @entry-house @entry-personal @entry-savings @entry-transport @entry-travel @refresh @remove-entry @switch;
@spritesheet: 172px 157px './../images/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
