/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@entry-cafes-name: entry-cafes;
@entry-cafes-x: 130px;
@entry-cafes-y: 0px;
@entry-cafes-offset-x: -130px;
@entry-cafes-offset-y: 0px;
@entry-cafes-width: 29px;
@entry-cafes-height: 35px;
@entry-cafes-total-width: 192px;
@entry-cafes-total-height: 163px;
@entry-cafes-image: './../images/sprite.png';
@entry-cafes: 130px 0px -130px 0px 29px 35px 192px 163px './../images/sprite.png' entry-cafes;
@entry-cell-name: entry-cell;
@entry-cell-x: 161px;
@entry-cell-y: 64px;
@entry-cell-offset-x: -161px;
@entry-cell-offset-y: -64px;
@entry-cell-width: 22px;
@entry-cell-height: 40px;
@entry-cell-total-width: 192px;
@entry-cell-total-height: 163px;
@entry-cell-image: './../images/sprite.png';
@entry-cell: 161px 64px -161px -64px 22px 40px 192px 163px './../images/sprite.png' entry-cell;
@entry-clothes-name: entry-clothes;
@entry-clothes-x: 36px;
@entry-clothes-y: 107px;
@entry-clothes-offset-x: -36px;
@entry-clothes-offset-y: -107px;
@entry-clothes-width: 35px;
@entry-clothes-height: 25px;
@entry-clothes-total-width: 192px;
@entry-clothes-total-height: 163px;
@entry-clothes-image: './../images/sprite.png';
@entry-clothes: 36px 107px -36px -107px 35px 25px 192px 163px './../images/sprite.png' entry-clothes;
@entry-default-name: entry-default;
@entry-default-x: 36px;
@entry-default-y: 75px;
@entry-default-offset-x: -36px;
@entry-default-offset-y: -75px;
@entry-default-width: 40px;
@entry-default-height: 24px;
@entry-default-total-width: 192px;
@entry-default-total-height: 163px;
@entry-default-image: './../images/sprite.png';
@entry-default: 36px 75px -36px -75px 40px 24px 192px 163px './../images/sprite.png' entry-default;
@entry-entertainment-name: entry-entertainment;
@entry-entertainment-x: 96px;
@entry-entertainment-y: 0px;
@entry-entertainment-offset-x: -96px;
@entry-entertainment-offset-y: 0px;
@entry-entertainment-width: 32px;
@entry-entertainment-height: 32px;
@entry-entertainment-total-width: 192px;
@entry-entertainment-total-height: 163px;
@entry-entertainment-image: './../images/sprite.png';
@entry-entertainment: 96px 0px -96px 0px 32px 32px 192px 163px './../images/sprite.png' entry-entertainment;
@entry-gadgets-name: entry-gadgets;
@entry-gadgets-x: 0px;
@entry-gadgets-y: 107px;
@entry-gadgets-offset-x: 0px;
@entry-gadgets-offset-y: -107px;
@entry-gadgets-width: 34px;
@entry-gadgets-height: 28px;
@entry-gadgets-total-width: 192px;
@entry-gadgets-total-height: 163px;
@entry-gadgets-image: './../images/sprite.png';
@entry-gadgets: 0px 107px 0px -107px 34px 28px 192px 163px './../images/sprite.png' entry-gadgets;
@entry-gifts-name: entry-gifts;
@entry-gifts-x: 0px;
@entry-gifts-y: 75px;
@entry-gifts-offset-x: 0px;
@entry-gifts-offset-y: -75px;
@entry-gifts-width: 34px;
@entry-gifts-height: 30px;
@entry-gifts-total-width: 192px;
@entry-gifts-total-height: 163px;
@entry-gifts-image: './../images/sprite.png';
@entry-gifts: 0px 75px 0px -75px 34px 30px 192px 163px './../images/sprite.png' entry-gifts;
@entry-groceries-name: entry-groceries;
@entry-groceries-x: 161px;
@entry-groceries-y: 0px;
@entry-groceries-offset-x: -161px;
@entry-groceries-offset-y: 0px;
@entry-groceries-width: 31px;
@entry-groceries-height: 30px;
@entry-groceries-total-width: 192px;
@entry-groceries-total-height: 163px;
@entry-groceries-image: './../images/sprite.png';
@entry-groceries: 161px 0px -161px 0px 31px 30px 192px 163px './../images/sprite.png' entry-groceries;
@entry-health-name: entry-health;
@entry-health-x: 0px;
@entry-health-y: 42px;
@entry-health-offset-x: 0px;
@entry-health-offset-y: -42px;
@entry-health-width: 34px;
@entry-health-height: 31px;
@entry-health-total-width: 192px;
@entry-health-total-height: 163px;
@entry-health-image: './../images/sprite.png';
@entry-health: 0px 42px 0px -42px 34px 31px 192px 163px './../images/sprite.png' entry-health;
@entry-house-name: entry-house;
@entry-house-x: 96px;
@entry-house-y: 34px;
@entry-house-offset-x: -96px;
@entry-house-offset-y: -34px;
@entry-house-width: 30px;
@entry-house-height: 34px;
@entry-house-total-width: 192px;
@entry-house-total-height: 163px;
@entry-house-image: './../images/sprite.png';
@entry-house: 96px 34px -96px -34px 30px 34px 192px 163px './../images/sprite.png' entry-house;
@entry-personal-name: entry-personal;
@entry-personal-x: 130px;
@entry-personal-y: 37px;
@entry-personal-offset-x: -130px;
@entry-personal-offset-y: -37px;
@entry-personal-width: 24px;
@entry-personal-height: 35px;
@entry-personal-total-width: 192px;
@entry-personal-total-height: 163px;
@entry-personal-image: './../images/sprite.png';
@entry-personal: 130px 37px -130px -37px 24px 35px 192px 163px './../images/sprite.png' entry-personal;
@entry-savings-name: entry-savings;
@entry-savings-x: 57px;
@entry-savings-y: 0px;
@entry-savings-offset-x: -57px;
@entry-savings-offset-y: 0px;
@entry-savings-width: 37px;
@entry-savings-height: 31px;
@entry-savings-total-width: 192px;
@entry-savings-total-height: 163px;
@entry-savings-image: './../images/sprite.png';
@entry-savings: 57px 0px -57px 0px 37px 31px 192px 163px './../images/sprite.png' entry-savings;
@entry-transport-name: entry-transport;
@entry-transport-x: 36px;
@entry-transport-y: 42px;
@entry-transport-offset-x: -36px;
@entry-transport-offset-y: -42px;
@entry-transport-width: 41px;
@entry-transport-height: 25px;
@entry-transport-total-width: 192px;
@entry-transport-total-height: 163px;
@entry-transport-image: './../images/sprite.png';
@entry-transport: 36px 42px -36px -42px 41px 25px 192px 163px './../images/sprite.png' entry-transport;
@entry-travel-name: entry-travel;
@entry-travel-x: 161px;
@entry-travel-y: 32px;
@entry-travel-offset-x: -161px;
@entry-travel-offset-y: -32px;
@entry-travel-width: 30px;
@entry-travel-height: 30px;
@entry-travel-total-width: 192px;
@entry-travel-total-height: 163px;
@entry-travel-image: './../images/sprite.png';
@entry-travel: 161px 32px -161px -32px 30px 30px 192px 163px './../images/sprite.png' entry-travel;
@logo-name: logo;
@logo-x: 0px;
@logo-y: 0px;
@logo-offset-x: 0px;
@logo-offset-y: 0px;
@logo-width: 55px;
@logo-height: 40px;
@logo-total-width: 192px;
@logo-total-height: 163px;
@logo-image: './../images/sprite.png';
@logo: 0px 0px 0px 0px 55px 40px 192px 163px './../images/sprite.png' logo;
@refresh-name: refresh;
@refresh-x: 0px;
@refresh-y: 137px;
@refresh-offset-x: 0px;
@refresh-offset-y: -137px;
@refresh-width: 32px;
@refresh-height: 26px;
@refresh-total-width: 192px;
@refresh-total-height: 163px;
@refresh-image: './../images/sprite.png';
@refresh: 0px 137px 0px -137px 32px 26px 192px 163px './../images/sprite.png' refresh;
@remove-entry-name: remove-entry;
@remove-entry-x: 161px;
@remove-entry-y: 106px;
@remove-entry-offset-x: -161px;
@remove-entry-offset-y: -106px;
@remove-entry-width: 23px;
@remove-entry-height: 23px;
@remove-entry-total-width: 192px;
@remove-entry-total-height: 163px;
@remove-entry-image: './../images/sprite.png';
@remove-entry: 161px 106px -161px -106px 23px 23px 192px 163px './../images/sprite.png' remove-entry;
@switch-name: switch;
@switch-x: 130px;
@switch-y: 74px;
@switch-offset-x: -130px;
@switch-offset-y: -74px;
@switch-width: 20px;
@switch-height: 20px;
@switch-total-width: 192px;
@switch-total-height: 163px;
@switch-image: './../images/sprite.png';
@switch: 130px 74px -130px -74px 20px 20px 192px 163px './../images/sprite.png' switch;
@spritesheet-width: 192px;
@spritesheet-height: 163px;
@spritesheet-image: './../images/sprite.png';
@spritesheet-sprites: @entry-cafes @entry-cell @entry-clothes @entry-default @entry-entertainment @entry-gadgets @entry-gifts @entry-groceries @entry-health @entry-house @entry-personal @entry-savings @entry-transport @entry-travel @logo @refresh @remove-entry @switch;
@spritesheet: 192px 163px './../images/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
