@import "mixins";

//colors
@blue: #03A9F4;
@red: #f44336;
@green: #4CAF50;
@brightGreen: #52be7f;


//fonts
@font-family-base: 'OpenSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@OSCondencedLight: 'OpenSansCondensedLight';